<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'All Users', users_path %></li>
    <li class="is-active"><a href="#" aria-current="page"><%= @user.username.capitalize %></a></li>
  </ul>
</nav>