<% flash.each do |name, message| %>
  <div class="notification <%= if name == 'alert' ? 'is-danger' : 'is-success' %>">
    <button class="delete" onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'></button>
    <%= message %>
  </div>
<% end %>