<h1 class="title">Edit Reservation Form</h1>

<%= render partial: 'shared/form_errors', object: @reservation, as: 'obj' %>

<%= render partial: 'form', locals: { submit_text: "Update Reservation" } %>