<%= provide(:title, 'About') %>

<h1 class="title">About Dog Daycare</h1>

<div class='columns'>
  <div class='column'>
    <h5 class="title is-5">The Dog Daycare Concept</h5>
    <p>Dog Daycare is a place for your dog to be active, curious, socialable, and safe while you are at work or away.</p>
  </div>
</div>