/** Update Bulma Classes **/

.section {
  padding: 2rem
}

/** Navigation Overrides **/

a.navbar-item.is-active {
  font-weight: bold;
  color: #19a !important; 
}

/** Flash Notices **/

.flash-div {
  margin-bottom: 1.2em;
}

/** Error Classes **/

#errors_explanation {
  margin-bottom: 1.2em;
}

#errors_explanation ul {
  margin: 0px 0px 6px 16px;
}

#errors_explanation ul li {
  padding: 0px 0px 4px;
}

.field_with_errors label {
  margin-bottom: 10px;
}

.field_with_errors input {
  border: 1px solid red;
}

.field_with_errors select {
  border: 1px solid red;
}

/** Wrapping -> Box Min-Height **/

.wrapping > .column > .box {
  min-height: 380px;
}