/** Update Bulma Classes **/

.section {
  padding: 2rem
}

/** Navigation Overrides **/

a.navbar-item.is-active {
  font-weight: bold;
  color: #19a !important; 
}

/** Flash Notices **/

.flash-div {
  margin-bottom: 1.2em;
}