/** Update Bulma Classes **/

.section {
  padding: 2rem
}

.first_last_fields {
  margin-bottom: 0 !important;
}

h5 {
  margin-top: 24px !important;
  margin-bottom: 12px !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
  
#wrapper {
  flex: 1;
}

.has-bg-img { 
  background: url('/assets/bg-img-2.jpg') center center;
  background-size: cover; 
}

.home-page-title {
  background-color: rgba(27, 25, 25, 0.5);
  height: 100px;
  width: 400px;
  padding: 25px;
}

.home-img {
  width: 360px;
  height: 360px;
}

.is-footer {
  border-top: 1px solid rgba(193, 193, 193, 0.5);
}

.fa-home:before, .fa-twitter:before, .fa-github:before, .fa-facebook:before {
  margin-right: 12px;
  font-size: 1.75em;
}

/** Spacer **/

.spacer {
  margin: 10px 0;
}

/** Navigation Overrides **/

a.navbar-item.is-active {
  font-weight: bold;
  color: #19a !important; 
}

/** Flash Notices **/

.flash-div {
  margin-bottom: 1.2em;
}

/** Error Classes **/

#errors_explanation {
  margin-bottom: 1.2em;
}

#errors_explanation ul {
  margin: 0px 0px 6px 16px;
}

#errors_explanation ul li {
  padding: 0px 0px 4px;
}

.field_with_errors label {
  margin-bottom: 10px;
}

.field_with_errors input {
  border: 1px solid red;
}

.field_with_errors textarea {
  border: 1px solid red;
}

.field_with_errors select {
  border: 1px solid red;
}

/** Wrapping -> Box Min-Height **/

.wrapping > .column > .box {
  min-height: 380px;
}

/** Custom Select Style **/

.select_field select {
  padding-right: 2.5em !important;
}

.select_field select:hover {
  border-color: #b5b5b5 !important;
}

.select_field select:active {
  border-color: #3273dc !important;
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25) !important;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25) !important;
}

.select_field select {
  display: inline-block !important;
}