<%= provide(:title, 'Edit Activity') %>

<h1 class="title">Edit Activity Form</h1>

<%= render partial: 'shared/form_errors', object: @activity, as: 'obj' %>

<%= render partial: 'form', locals: { submit_text: "Update Activity" } %>