<%= provide(:title, 'Edit Location') %>

<h1 class="title">Edit Locaiton Form</h1>

<%= render partial: 'shared/form_errors', object: @location, as: 'obj' %>

<%= render partial: 'form', locals: { submit_text: "Update Location" } %>